@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

body { 
  background: #eee9cd;
}
.loading_animation{
  position: absolute;
  animation: transitionIn 1s;
}
*{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-transform: capitalize;
  transition: all .2s linear;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:25px;
  min-height: 100vh;
}

.container form{
  position: relative;
  padding:20px;
  width:700px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  left: 55%;
  bottom: 140px;
}

.container form .row{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}

.container form .row .col{
  flex:1 1 250px;
}

.container form .row .col .title{
  text-align: left;
  font-size: 20px;
  color:#333;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.container form .row .col .inputBox{
  margin:15px 0;
}

.container form .row .col .inputBox span{
  margin-bottom: 10px;
  display: block;
}

.container form .row .col .inputBox input{
  width: 100%;
  border:1px solid #ccc;
  padding:10px 15px;
  font-size: 15px;
  text-transform: none;
}

.container form .row .col .inputBox input:focus{
  border:1px solid #000;
}

.container form .row .col .flex{
  display: flex;
  gap:15px;
}

.container form .row .col .flex .inputBox{
  margin-top: 5px;
}

.container form .row .col .inputBox img{
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.container form .submit-btn{
  width: 100%;
  padding:12px;
  font-size: 17px;
  background: #1f3d47;
  color:#fff;
  margin-top: 5px;
  cursor: pointer;
}

.container form .submit-btn:hover{
  background: #315966;
}
.icon{
  margin: 20px;
  float: left;
}
.roomtxt{
  position: relative;
  font-size: 1.5em;
  margin: 10px;
  bottom: 10px;
}
.room_num_u{
  position: relative;
  font-size: 5em;
  bottom: 30px;
}
.room_num_d{
  position: relative;
  font-size: 1.5em;
  bottom: 20px;
}
.menu-wrap{
  top:0;
  z-index: 1;
}
.menu-wrap .toggler{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin: 25px 15px 15px 15px;
  opacity: 0;
}
.menu-wrap .hamburger{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  margin: 25px 15px 15px 15px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-wrap .hamburger > div{
  position: relative;
  width: 100%;
  height: 2px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after{
  content: '';
  position: absolute;
  z-index: 1;
  top:-10px;
  width: 100%;
  height: 2px;
  background: inherit;
}
.menu-wrap .hamburger > div:after{
  top: 10px;
}
.menu-wrap .toggler:checked + .hamburger > div{
  transform: rotate(135deg);
}
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after{
  top: 0;
  transform: rotate(90deg);
}
.menu-wrap .toggler:checked:hover + .hamburger > div{
  transform: rotate(225deg);
}
.menu-wrap .toggler:checked ~ .menu{
  visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu > div{
  transform: scale(1);
  transition-duration: 0.75s;
}
.menu-wrap .toggler:checked ~ .menu > div > div{
  opacity: 1;
  transition: opacity 0.4 ease;
}
.menu-wrap .menu{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility:hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-wrap .menu > div{
  background: rgba(24, 39, 51, 0.85);
  border-radius: 50%;
  width: 150vw;
  height: 150vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}
.menu-wrap .menu > div > div{
  text-align: center;
  max-width: 100vw;
  max-width: 100vh;
  opacity:0;
  transition: opacity 0.4s ease;
}
.menu-wrap .menu > div > div > ul > li{
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}
.menu-wrap .menu > div > div > ul > li > a{
  color: #fff;
  text-decoration: none;
  transition: color 0.4s ease-in-out;
}
.menu-wrap .menu > div > div > ul > li > a:hover{
  color: #c5a47e;
  transition: color 0.4s ease-in-out;
}

/*
.menulink{
  font-family: 'Alegreya SC',serif;
  color: #fff;
  font-size: 20px ;
  text-decoration: none;
}
.navbar .ul1 {    
  list-style: none;
  display: flex;
  justify-content: center;
}
#sli1{
  margin-left: -70px;
}
.navbar .ul1 .li1 a:hover {
  color: #c5a47e;
  transition: color .3s ease-out
}
.navbar .ul1 .li1{
  font-weight: bold;
  margin: 40px 70px 20px 70px;
}
#menu-icon{
  width:50px;
  height:50px;
  margin: 30px 20px;
}
.buttons {
  color:black;
}
*/

/*FOOTER*/

.footer{
  margin-top: 670px;
  background: #151414
}  
.footer .row{
  background: #151414;
  width:100%;
  padding: 20px 0px;
  color:gray;
  font-size:15px;
  text-align: center;
}
.footer #row2{
  background: #151414;
  width:100%;
  padding: 20px 0px;
  color:gray;
  font-size:15px;
  text-align: center;
}
  
.footer .row a{
  text-decoration:none;
  color:gray;
  transition:0.5s;
}
  
.footer .row a:hover{
  color:white
  }
  
.footer .row ul{
  width:100%;
}
.footer .row ul li{
  display:inline-block;
  margin:0px 30px;
}
